body{
    background: #042442;
}

.container{
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border : none;
    background :rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li{
    background-color:  #15518a;
    /* background-color:#B9345A; */
}

.delete,.edit{
    cursor: pointer;
}

.filtered{
    display: none !important;
}

#save,#discard,#submit{
    display: none;
    margin-top: 1.5em;
}

#nav{
    background-color: #96b4cf !important;
}

ul{
    cursor: pointer;
}

.selected{
    background: red !important;
}